includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    tmpDir: .phpstan.cache

    paths:
        - app
        - database

    level: 5

    # Larastan configuration
    noEnvCallsOutsideOfConfig: true
    checkModelAppends: true
    checkModelProperties: true
